@model IEnumerable<EntityLayer.Concrete.Category>
@{
    ViewBag.Title = "AdminCategoryList";
    Layout = "~/Views/Shared/_Admin_Layout_.cshtml";
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:1%;">#</th>
            <th>Ad</th>
            <th style="width:4%;">Renk</th>
            <th>Durum</th>
            <th>Açıklama</th>
            <th style="text-align:center; width:20%;" colspan="3">Araçlar</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><span class="badge" style="color:white;background-color:@item.CategoryColor">Kategori</span></td>
                <td> @Html.Raw(item.CategoryStatus == true ? "<span class='badge badge-success'>Aktif</span>" : "<span class='badge badge-danger'>Pasif</span>")</td>
                <td>@item.CategoryDescription</td>
                @switch (item.CategoryStatus)
                {
                    case true:
                        <td>
                            <a id="DeleteBtnPasif" onclick="return confirm('Kategoriyi pasif hale getirmek istediğinize emin misiniz ?');" class="btn btn-danger btn-sm" href="/Category/DeleteCategory/@item.CategoryID">
                                <i class="fas fa-trash">
                                </i>
                                Pasif Yap
                            </a>
                        </td>
                        break;
                    case false:
                        <td>
                            <a id="DeleteBtnActive" onclick="return confirm('Kategoriyi pasif hale getirmek istediğinize emin misiniz ?');"  class="btn btn-success btn-sm" href="/Category/DeleteCategory/@item.CategoryID">
                                <i class="fas fa-check">
                                </i>
                                Aktif Yap
                            </a>
                        </td>
                        break;
                }
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-info ">Guncelle</a></td>
                <td><a href="/Blog/BlogByCategory/@item.CategoryID" class="btn btn-primary ">Bloglar</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.Action("AddCategoryPartial", "Category")


