@model EntityLayer.Concrete.Author
<div class="tab-pane" id="settings">

    <form class="form-horizontal">

        <div class="form-group row">

            <label class="col-sm-2 col-form-label">İsim </label>
            <input type="hidden" name="AuthorID" value="@Model.AuthorID" />
            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorName" value="@Model.AuthorName" placeholder="İsim">

            </div>

        </div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Soyisim </label>

            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorSurname" value="@Model.AuthorSurname" placeholder="Soyisim">

            </div>

        </div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Unvan </label>

            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorTitle" value="@Model.AuthorTitle" placeholder="Unvan">

            </div>

        </div>
        <div class="form-group row">

            <label class="col-sm-2  col-form-label">Resim Yolu </label>

            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorImage" value="@Model.AuthorImage" placeholder="Resminizi bir bir resim sayfasına 128x128 yükleyip bağlantı adersini paylaşabilirsiniz.">

            </div>

        </div>

        <div class="form-group row">

            <label for="inputEmail" class="col-sm-2 col-form-label">Mail Adresi </label>

            <div class="col-sm-10">

                <input type="email" readonly="readonly" class="form-control" name="AuthorMail" value="@Model.AuthorMail" placeholder="Email">

            </div>

        </div>

        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Şifre </label>

            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorPassword" value="@Model.AuthorPassword" placeholder="Şifre">

            </div>

        </div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Hakkınızda</label>

            <div class="col-sm-10">

                <textarea class="form-control" readonly="readonly"  name="AuthorAbout"  placeholder="Hakkınızda detaylı bilgilerin yer alacağı kısım">@Model.AuthorAbout</textarea>

            </div>

        </div>

        

        <div class="form-group row">

            <label for="inputSkills" class="col-sm-2 col-form-label">Hakkınızda Kısa </label>

            <div class="col-sm-10">

                <input type="text" readonly="readonly" class="form-control" name="AuthorAboutShort" value="@Model.AuthorAboutShort" placeholder="Hakkınızda kısaca nelerle uğraştığınızı yazınız">

            </div>

        </div>

        <div class="form-group row">

            <div class="offset-sm-2 col-sm-10">

               

            </div>

        </div>

        <div class="form-group row">

            <div class="offset-sm-2 col-sm-10">
              
                <a class="btn btn-warning btn-sm" href="/User/ChangeSettings/@Model.AuthorID">Ayarlar</a>

            </div>

        </div>

    </form>

</div>