@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "GetAuthorComment";
    Layout = "~/Views/Shared/_Author_Layout_.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Aktif Yorumlarım</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>#</th>
                <th>Blog Başlığı</th>
                <th>Yorum</th>
                <th>Yorum Tarihi</th>
                <th>Yorum Durumu</th>
                <th colspan="2">Araçlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {

                <tr>
                    
                    <td>@item.CommentID</td>
                    <td>@item.Blog.BlogTitle</td>
                    <td>@item.CommentText</td>
                    <td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
                    <td>  @Html.Raw(item.CommentStatus == true ? "<span class='badge badge-success'>Aktif</span>" : "<span class='badge badge-danger'>Silinmiş</span>")</td>
                    @if (item.CommentStatus == true)
                {
                    <td><a class="button btn-info btn-sm" href="/Blog/BlogDetails/@item.BlogID">Blogda Görüntüle</a></td>
                    <td><a class="button btn-danger btn-sm" href="/AuthorComment/DeleteComment/@item.BlogID">Sil</a></td>
                }
                else
                {
                    <td style="text-align:center;" colspan="2"><span class="buttno btn-dark btn-sm" >İşlem yapılamaz</span></td>
                }
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>

